body{
    width: 380px;
    margin: 5px;
}
.container{
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #c8ccd2;
}
.display{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding-top: 9px;
    padding-left: 8px;
}
#head1{
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    vertical-align:middle;
}
.switch input {
    display:none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 20px;
}
.slider.round:before {
    border-radius: 50%;
}
p{
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}
#korea{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    border: 3px solid;
    border-color: lavender;
    border-radius: 10px;
}
#korea::-webkit-scrollbar {
    width: 10px;
}
#korea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2f3542;
    box-shadow: inset 0px 0px 7px white;
}
#korea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #b0b4bb;;
    box-shadow: inset 0px 0px 7px white;
}
.who{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    border-color: lavender;
}