body{
    width: 350px;
    margin: 5px;
}
#head1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:white;
}
.container{
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    border: 3px solid;
    border-radius: 10px;
    border-color: #c8ccd2;
}
.jumbotron {
    padding-top: 10px;
    padding-left: 3px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-right: 110px;
}
h6.display-5{
    padding-right:20px;
}
.result{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    border: 5px solid;
    border-color: lavender;
    border-radius: 10px;
    border-width: 5px;
}

.result::-webkit-scrollbar {
    width: 13px;
}
.result::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2f3542;
    box-shadow: inset 0px 0px 7px white;
}
.result::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #b0b4bb;;
    box-shadow: inset 0px 0px 7px white;
}
.who{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    border-color: lavender;
}